<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
        }
    </style>
</head>

<body>
<h1>Reservations</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Flight</th>
        <th>Passenger</th>
        <th>Seat</th>
        <th>Luggage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation:${reservations}">
        <td th:text="${reservation.getId()}"></td>
        <td>
            <table>
                <tr>
                    <th>ID:</th>
                    <td th:text="${reservation.getFlight().getId()}"></td>
                </tr>
                <tr>
                    <th>From:</th>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th>Country</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${reservation.getFlight().getStartingAirport().getAddress().getCountry()}"></td>
                                <td th:text="${reservation.getFlight().getStartingAirport().getAddress().getCity()}"></td>
                                <td th:text="${reservation.getFlight().getStartingAirport().getAddress().getStreetName()}"></td>
                                <td th:text="${reservation.getFlight().getStartingAirport().getAddress().getNumber()}">td th:text="${flight.getStartingAirport().getAddress().getNumber()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th>Country</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${reservation.getFlight().getDestinationAirport().getAddress().getCountry()}"></td>
                                <td th:text="${reservation.getFlight().getDestinationAirport().getAddress().getCity()}"></td>
                                <td th:text="${reservation.getFlight().getDestinationAirport().getAddress().getStreetName()}"></td>
                                <td th:text="${reservation.getFlight().getDestinationAirport().getAddress().getNumber()}">td th:text="${flight.getStartingAirport().getAddress().getNumber()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td th:text="${reservation.getFlight().getDatetime()}"></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th>Name:</th>
                    <td th:text="${reservation.getPassenger().getName()}"></td>
                </tr>
                <tr>
                    <th>Surname:</th>
                    <td th:text="${reservation.getPassenger().getSurname()}"></td>
                </tr>
                <tr>
                    <th>E-mail:</th>
                    <td th:text="${reservation.getPassenger().getEmail()}"></td>
                </tr>
            </table>
        </td>
        <td th:text="${reservation.getSeat()}"></td>
        <td th:text="${reservation.getLuggage()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>